<ion-header no-border>
    <ion-toolbar>
        <ion-title text-capitalize>Listado de Post</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-card *ngFor="let post of servicioPost" color="tertiary" detail>
            <ion-icon name="add-circle" slots="start" routerLink="/alert/{{ post.id }}"> Ver comentarios</ion-icon>
            <ion-card-header>
                <ion-card-title text-capitalize>{{ post.title }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                {{post.body}}
            </ion-card-content>
            <ion-buttons>
                <ion-button (click)="alertDelete(post.id)" color="success">
                    <ion-icon name="close-circle"></ion-icon> Eliminar
                </ion-button>
                <ion-button (click)="updatePost(post.id)">
                    <ion-icon name="sync"></ion-icon> Update
                </ion-button>
                <ion-button routerLink="/alert/{{ post.id }}">
                    <ion-icon name="add-circle"></ion-icon> Ver-Coments
                </ion-button>
            </ion-buttons>
        </ion-card>

    </ion-list>

</ion-content>