<app-header titulo="Comentarios"> </app-header>


<ion-content>
    <ion-card *ngFor="let coment of comentarios" color="primary">
        <ion-card-header>
            <ion-card-subtitle>{{coment.email}}</ion-card-subtitle>
            <ion-card-title text-capitalize>{{coment.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            {{coment.body}}
        </ion-card-content>
    </ion-card>
</ion-content>